# Python
__pycache__/
*.py[cod]
*.sqlite3
env/
.env

# Django static
staticfiles/
media/

# Node
node_modules/
dist/
.vite/

# OS
.DS_Store
backend/logs/corbi-errors.log
backend/logs/corbi.log
backend/logs/

# build output
frontend/build
frontend/dist
